/* outfit-600 - latin */
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('../fonts/outfit-v6-latin-600.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/outfit-v6-latin-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* outfit-700 - latin */
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/outfit-v6-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/outfit-v6-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* outfit-600 - latin */
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('../fonts/outfit-v6-latin-600.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/outfit-v6-latin-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* outfit-700 - latin */
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/outfit-v6-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/outfit-v6-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ROOT */
:root {
    --header-bg-color: #fff;
    --main-bg-color: #F4F9FD;
    --main-text-color: #647685;
    --main-btn-color: #1F6BFF;

}

html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: "Rubik", "Arial", sans-serif;
    font-weight: 400;
    background-color: #fff;
}

img {
    max-width: 100%;
    /* height: auto; */
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 40px;
}

ul {
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/********** HEADER STYLES START **********/
.site-header__wrapper {
    padding-top: 27px;
    padding-bottom: 26px;
    background-color: var(--header-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-nav__list {
    display: flex;
    gap: 36px;
}

.site-nav__link {
    font-size: 18px;
    line-height: 100%;
    color: rgba(34, 35, 38, 0.8);
}

.site-nav__link:active {
    color: #222326;
}

.site-header__end {
    display: flex;
    justify-content: space-between;
}

.site-header__phone {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}



.phone__number {
    font-size: 18px;
    line-height: 21px;
}

/********** HEADER STYLES END **********/



/********** MAIN STYLES START **********/

/********** Service site style start ********/
.service-site {
    margin-bottom: 120px;
    position: relative;
    padding-top: 200px;
    padding-bottom: 41px;
    width: 100%;
    background-color: #DBEBF8;
}

.service-site__wrapper {
    display: flex;
}

.service-site__title {
    margin: 0;
    margin-bottom: 24px;
    width: 641px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 66px;
    line-height: 140%;
    color: #050931;

}

.service-site__text {
    margin: 0;
    margin-bottom: 48px;
    width: 617px;
    font-size: 24px;
    line-height: 172%;
    color: #767877;
}

.btn {
    margin-bottom: 92px;
    padding: 18px 40px;
    border: none;
    background-color: var(--main-btn-color);
    border-radius: 4px;
    font-weight: 500;
    font-size: 18px;
    line-height: 166%;
    color: var(--header-bg-color);
}

.results-list {
    display: flex;
    gap: 60px;
}

.results-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: #050931;
}

.results-item__link {
    display: block;
    font-size: 20px;
    line-height: 100%;
    color: var(--main-text-color);
}


.points {
    position: absolute;
    left: 50.16%;
    right: 38.85%;
    top: 1.32%;
    bottom: 96.32%;
}

.around {
    position: absolute;
    width: 663px;
    height: 663px;
    left: 670px;
    top: 78px;
}

.background-img {
    position: absolute;
    left: 746px;
    top: 168px;
}

.service-site__end--card {
    position: absolute;
    top: 692px;
    left: 950px;
    padding: 36px 75px 36px 47px;
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 28px 28px 0px 0px;
}

.service-site__end--icons {
    position: absolute;
    bottom: 169px;
    right: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #FFCA45;
    border-radius: 50%;
}

.end-card__info--title {
    margin: 0;
    margin-bottom: 48px;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    color: #222326;
}

.card-img1 {
    border-radius: 50%;
    background-color: #48B774;
}

.card-img2 {
    position: absolute;
    left: 105px;
    top: 108px;
    border-radius: 50%;
    background-color: #FF8345;
}

.card-img3 {
    position: absolute;
    left: 167px;
    top: 108px;
    border-radius: 50%;
    background-color: #FFCA45;
}

.service-card__btn {
    position: absolute;
    top: 108px;
    left: 233px;
    width: 77px;
    height: 74px;
    border: none;
    border-radius: 50%;
    background-color: #EDEDED;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #1F6BFF;

}

/********** Service site styles end ********/

/*********** About section styles start ***********/
.about-section {
    background-color: #fff;
}

.about-section__wrapper {
    margin-bottom: 128px;
    position: relative;
    display: flex;
}

.about-section__subtitle {
    margin: 0;
    padding-bottom: 5px;
    display: inline;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #050931;
    border-bottom: 2px solid #FE6B01;

}

.about-section__info--title {
    margin: 0;
    margin-top: 13px;
    margin-bottom: 24px;
    width: 492px;
    font-family: 'Outfit';
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    color: #050931;
}

.about-section__info--text {
    margin-bottom: 20px;
    width: 505px;
    font-size: 18px;
    line-height: 156%;
    color: var(--main-text-color);
}

.service {
    color: #FE6B01;
}

.about-section__info--text2 {
    margin-bottom: 48px;
    width: 505px;
    font-size: 18px;
    line-height: 156%;
    color: var(--main-text-color);
}

.about-section__img--around {
    position: absolute;
    top: 22px;
    left: 740px;
    width: 73px;
    height: 73px;
    border-radius: 50%;
    background-color: #BADAF4;
}

.about-section__img1 {
    width: 440px;
    position: absolute;
    left: 545px;
    top: 112px;
    z-index: 50;
}

.about-section__img2 {
    position: absolute;
    left: 840px;
    top: 0;
    z-index: 5;
}

.about-section__points {
    position: absolute;
    left: 1072px;
    top: 340px;

}

/*********** About section styles end ***********/

/*********** Clean section styles start  ***********/
.clean-section {
    background-color: var(--main-bg-color);
    background-image: url('../images/clean-bg.png');
    background-repeat: no-repeat;
    background-position: left top;
}

.clean-section__start {
    text-align: center;
    font-weight: 500;
}

.clean-section__wrapper {
    margin-bottom: 120px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.clean-section__title {
    display: inline;
    margin: 0;
    font-size: 20px;
    line-height: 100%;
    color: #050931;
    border-bottom: 2px solid #FE6B01;
}

.clean-section__subtitle {
    margin: 0;
    margin-top: 20px;
    font-family: 'Outfit';
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    color: #050931;
}

.clean-section__text {
    margin: 0 auto;
    margin-bottom: 72px;
    width: 570px;
    font-size: 18px;
    line-height: 156%;
    color: #647685;
}

.clean-section__card--list {
    display: flex;
    justify-content: space-between;
    gap: 18px;
}

.clean-section__card--item {
    padding: 32px 32px 40px 32px;
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 12px;
}

.card-item__icon {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-color: rgba(255, 202, 69, 0.2);
    box-shadow: 0px 17.3392px 36.1233px rgba(0, 0, 0, 0.05);
}

.item-icon__office {
    background-color: rgba(72, 183, 116, 0.2);
}

.item-icon__home {
    background-color: rgba(255, 131, 69, 0.2);
}

.card-item__title {
    margin: 0;
    margin-bottom: 20px;
    font-family: 'Outfit';
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    color: #1B1E1C;
}

.card-item__text {
    width: 350px;
    font-size: 18px;
    line-height: 156%;
    color: #767877;
}

.clean-section__btn {
    margin-top: 50px;
    margin-left: 550px;

}

/*********** Clean section styles end  ***********/

/********** Work section sytles start  **********/
.work-section {
    background-color: #fff;
    background-image: url('../images/points.png');
    background-position: right 0;
    background-repeat: no-repeat;
}

.work-section__wrapper {
    padding-bottom: 120px;
}

.work-section__subtitle {
    margin: 0;
    display: inline;
    border-bottom: 2px solid #FE6B01;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #050931;
}

.work-section__start {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work-section__title {
    width: 555px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    color: #050931;
}

.work-section__text {
    width: 403px;
    font-size: 18px;
    line-height: 156%;
    color: var(--main-text-color);
}

.work-section__end {
    position: relative;
}

.work-section__box--list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.work-section__box--item {
    padding-left: 23px;

}

.work-section__box--item:nth-child(1) {
    border-left: 1px solid #FF8345;
}

.work-section__box--item:nth-child(2) {
    border-left: 1px solid #1F6BFF;
}

.work-section__box--item:nth-child(3) {
    border-left: 1px solid #FFCA45;
}

.work-section__box--item:nth-child(4) {
    border-left: 1px solid #37D348;
}

.work-section__link {
    display: inline-block;
    align-items: center;
    width: 107px;
    height: 107px;
    background-repeat: no-repeat;
    font-weight: 700;
    font-size: 24px;
    line-height: 105px;

}

.enjoy-cleaning__link {
    color: #FF8345;
    background-image: url('../images/Polygon\ 1.png');
}

.clean__link {
    color: #1F6BFF;
    background-image: url('../images/Polygon\ 2.png');
}

.enjoy-link {
    color: #FFCA45;
    background-image: url('../images/Polygon\ 3.png');
}

.fresh__link {
    color: #37D348;
    background-image: url('../images/Polygon\ 4.png');
}

.work-section__box--title {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #1B1E1C;
}

.work-section__box--text {
    width: 245px;
    font-size: 18px;
    line-height: 156%;
    color: #767877;
}


/********** Work section sytles end  **********/

/********** Priroty section sytles  start  **********/
.priroty-section {
    background-color: var(--main-bg-color);
    background-image: url('../images/points.png');
    background-repeat: no-repeat;
    background-position: left top;
}

.priroty-section__wrapper {
    display: flex;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 122px;
}

.priroty-section__subtitle {
    margin: 0;
    display: inline;
    border-bottom: 2px solid #FE6B01;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #050931;
}

.priroty-section__title {
    margin: 0;
    margin-top: 13px;
    width: 496px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    color: #050931;
}

.priroty-section__text {
    width: 590px;
    font-size: 18px;
    line-height: 156%;
    color: var(--main-text-color);
}

.priroty-section__box--item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.priroty-section__boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fe6b011a;
}

.kalenadr-box {
    background-color: #37d3481a;
}

.notebook-box {
    background-color: #fcdc001a;
    ;
}

.priroty-section__box--info {
    margin-left: 24px;
}

.priroty-section__box--title {
    margin: 0;
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    color: #050931;
}

.priroty-section__box--text {
    margin: 0;
    width: 505px;
    font-size: 18px;
    line-height: 156%;
    color: var(--main-text-color);
    opacity: 0.7;
}

.priroty-section__end {
    position: relative;
}

.priroty-section__around {
    position: absolute;
    top: 50px;
    left: 150px;
    width: 61px;
    height: 61px;
    border-radius: 50%;
    background-color: #BADAF4;
}

.priroty-section__end--images {
    display: flex;
    margin-bottom: 20px;
}

.priroty-img1 {
    margin-top: auto;
    height: 300px;
}

.priroty-img2 {
    top: 0;
    margin-left: 20px;
}



/********** Priroty section sytles  end  **********/


/********** Bussines section sytles start  **********/
.bussines-section {
    background-color: #fff;
    background-image: url('../images/points.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.bussines-section__box--list {
    display: flex;
}

.bussines-section__wrapper {
    margin-bottom: 90px;
    position: relative;
    padding-top: 279px;
    padding-bottom: 264px;
}

.bussines-section__around--img {
    position: absolute;

}

.bussines-section__box--item {
    position: absolute;
    z-index: 1000;
    padding-top: 61px;
    padding-left: 77px;
    padding-right: 73px;
    background-color: #FFFFFF;
    border: 1.53846px solid #ECECEC;
    box-shadow: 0px 56px 80px -16px #dbdee5cc;
    border-radius: 20px;
}

.bussines-section__box--title {
    margin: 0;
    margin-bottom: 22px;
    font-family: 'Outfit';
    font-weight: 500;
    font-size: 56px;
    line-height: 100%;
    text-align: center;
    color: #222326;
}

.bussines-section__box--text {
    margin: 0;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: #A7A7A8;
}

.bussines-section__box--number {
    font-family: 'Outfit';
    font-weight: 700;
    font-size: 56px;
    line-height: 100%;
    text-align: center;
    color: #222326;
}

.bussines-section__box--number sup {
    margin: 0;
    font-size: 30px;
}

.bussines-section__box--text2 {
    font-size: 28px;
    line-height: 100%;
    color: #222326;
}

.bussines-section__box2 {
    position: absolute;
    z-index: 0;
    top: 300px;
    left: 225px;
}

.bussines-section__end {
    padding-top: 90px;
    margin-left: 750px;
}

.bussines-section__end--subtitle {
    margin: 0;
    display: inline;
    border-bottom: 2px solid #FF8345;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #050931;
}

.bussines-section__end--title {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 510px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    color: #050931;
}

.bussines-section__end--text {
    margin: 0;
    margin-bottom: 20px;
    width: 410px;
    font-size: 18px;
    line-height: 156%;
    color: var(--main-text-color);
}

.bussines-section__pay {
    margin-top: 68px;
    margin-bottom: 60px;

}

.monthly-link {
    padding: 34px 62px 34px 62px;
    width: 218px;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
    background-color: #1F6BFF;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.yearly-link {
    padding: 34px 62px 34px 62px;
    width: 218px;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
    background-color: #FF8345;
    border-radius: 0 8px 8px 0;
}

.section-button {
    width: 48px;
    height: 48px;
    border: none;
    border: 1px solid #007CFA;
    background-color: transparent;
    border-radius: 50%;
    font-weight: 700px;
    color: #007CFA;
}

.section-button:hover {
    background-color: #007CFA;
    color: #fff;
}

/********** Bussines section sytles  end  **********/


/********** Queston section sytles  start  **********/
.question-section {
    background-color: var(--main-bg-color);
}

.question-section__wrapper {
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
}

.question-section__title {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 11px;
    border-bottom: 2px solid #FF8345;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #050931;
}


.question-section__subtitle {
    margin-top: 0;
    margin-bottom: 60px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    color: #050931;
}

.question-section__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.question-section__item {
    margin-bottom: 40px;
    padding: 40px 18px 40px 20px;
    background: #FFFFFF;
    border-radius: 4px;
}

.question-section__about {
    display: flex;
    align-items: center;
}

.question-section__btn {
    width: 30px;
    height: 30px;
    padding: 14px 10px 14px 10px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    border: 1px solid #050931;
    font-weight: 600px;
}

.question-section__card--title {
    margin-top: 0;
    margin-bottom: 24px;
    margin-left: 16px;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #050931;
}


.question-section__card--text {
    padding-left: 45px;
    width: 517px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 100%;
    color: var(--main-text-color);
}

/********** Queston section sytles  end  **********/

/********** Clients section sytles  start  **********/
.clients-section {
    background-color: #fff;
    position: relative;
}

.clients-section__wrapper {

    padding: 120px 0;
    text-align: center;
}

.question-section__img {
    margin-bottom: 60px;
}

.clients-section__title {
    margin-top: 0;
    margin-bottom: 40px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
    text-transform: capitalize;
    color: #050931;
}

.clients-section__text {
    margin: 0 auto;
    width: 800px;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: -0.015em;
    color: var(--main-text-color);
}

.text2 {
    margin-top: 48px;
    margin-bottom: 97px;
}

.clients-left-img1 {
    position: absolute;
    left: 0;
    top: 647px;
}

.clients-left-img2 {
    position: absolute;
    left: 23px;
    top: 445px;
}

.clients-left-img3 {
    position: absolute;
    left: 115px;
    top: 550px;
}

.clients-left-img4 {
    position: absolute;
    left: 190px;
    top: 330px;
}

.clients-right-img1 {
    position: absolute;
    left: 1025px;
    top: 400px;
}

.clients-right-img2 {
    position: absolute;
    left: 1135px;
    top: 675px;
}

.clients-right-img3 {
    position: absolute;
    right: 0;
    top: 310px;
}

.clients-right-img4 {
    position: absolute;
    right: 0;
    top: 635px;
}

/********** Clients section sytles  end  **********/


/********** Contacts section sytles  start  **********/
.contact-section {
    background-image: linear-gradient(to bottom, #F4F9FD 50%, #fff 50%);
}

.contact-section__wrapper {
    padding-top: 120px;
    padding-bottom: 120px;
}

.contact-section__box--wrapper {
    display: flex;
    align-items: center;
    padding-top: 58px;
    padding-bottom: 55px;
    padding-left: 124px;
    padding-right: 40px;
    background: #FFFFFF;
    box-shadow: 0px 56px 80px -16px rgba(219, 222, 229, 0.8);
}

.contact-secction__box--titile {
    display: inline-block;
    border-bottom: 2px solid #FE6B01;
    margin-top: 0;
    margin-bottom: 11px;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #050931;
}

.contact-secton__box--subtitle {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    color: #050931;
}

.contact-section__box--start {
    padding-top: 160px;
}

.conatact-section__box--text {
    width: 368px;
    font-size: 24px;
    line-height: 156%;
    color: #7A7B7D;
}

.contact-section__box-number {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: #1F6BFF;
}


.contact-section__box--item {
    display: block;
    width: 466px;
}

.contact-section__box--end {
    margin-left: 184px;
}

.contact-section__end--text {
    padding: 20px;
    border-bottom: 1px solid #DBDBDB;
    font-size: 16px;
    line-height: 100%;
    color: #969696;
}

.end--text2 {
    padding-bottom: 120px;
}

.contact-section__btn {
    padding: 18px 171px;
    background-color: #1F6BFF;
    border: 1px solid #1F6BFF;
    border-radius: 4px;
    font-weight: 500;
    font-size: 18px;
    line-height: 166%;
    color: #FFFFFF;
}

/********** Contacts section sytles  end  **********/

/********** MAIN STYLES END **********/



/********** FOOTER STYLES START **********/
.site-footer {
    background-color: #DBEBF8;
}

.site-footer__list {
    display: flex;
    gap: 70px;
}

.site-footer__title {
    margin-top: 0;
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    text-transform: capitalize;
    color: #050931;
}

.site-footer__text {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 156%;
    color: #7A7B7D;
}

.main-text {
    width: 371px;
}

.day-text {
    margin-bottom: 8px;
}

.footer-btn {
    display: flex;
    align-items: center;
    padding: 23px 24px;
    border: none;
    background-color: #1F6BFF;
    font-size: 18px;
    line-height: 165%;
    color: #FFFFFF;
}

.footer-logo {
    margin-left: 80px;
}

.footer-logos {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.footer-images {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.footer-texts {
    margin-left: 20px;
}

.footer-end__text {
    font-size: 15px;
}

.footer-end {
    display: flex;
    justify-content: space-between;
}

/********** FOOTER STYLES END**********/