/* outfit-600 - latin */
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('../fonts/outfit-v6-latin-600.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/outfit-v6-latin-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* outfit-700 - latin */
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/outfit-v6-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/outfit-v6-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* outfit-600 - latin */
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('../fonts/outfit-v6-latin-600.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/outfit-v6-latin-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* outfit-700 - latin */
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/outfit-v6-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/outfit-v6-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ROOT */
:root {
    --header-bg-color: #fff;
    --main-bg-color: #F4F9FD;
    --main-text-color: #647685;
    --main-btn-color: #1F6BFF;

}

html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: "Rubik", "Arial", sans-serif;
    font-weight: 400;
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 40px;
}

ul {
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/********** HEADER STYLES START **********/
.site-header__wrapper {
    padding-top: 27px;
    padding-bottom: 26px;
    background-color: var(--header-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-nav__list {
    display: flex;
    gap: 36px;
}

.site-nav__link {
    font-size: 18px;
    line-height: 100%;
    color: rgba(34, 35, 38, 0.8);
}

.site-nav__link:active {
    color: #222326;
}

.site-header__phone {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.site-header__phone::before {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url('../images/logo/phone.svg');
    background-repeat: no-repeat;
    background-position: left center;
    content: " ";
}

.phone__number {
    font-size: 18px;
    line-height: 21px;
}

/********** HEADER STYLES END **********/



/********** MAIN STYLES START **********/

/********** Service site style start ********/
.service-site {
    margin-bottom: 120px;
    position: relative;
    padding-top: 200px;
    padding-bottom: 41px;
    width: 100%;
    background-color: #DBEBF8;
}

.service-site__wrapper {
    display: flex;
}

.service-site__title {
    margin: 0;
    margin-bottom: 24px;
    width: 641px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 66px;
    line-height: 140%;
    color: #050931;

}

.service-site__text {
    margin: 0;
    margin-bottom: 48px;
    width: 617px;
    font-size: 24px;
    line-height: 172%;
    color: #767877;
}

.btn {
    margin-bottom: 92px;
    padding: 18px 40px;
    border: none;
    background-color: var(--main-btn-color);
    border-radius: 4px;
    font-weight: 500;
    font-size: 18px;
    line-height: 166%;
    color: var(--header-bg-color);
}

.results-list {
    display: flex;
    gap: 60px;
}

.results-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: #050931;
}

.results-item__link {
    display: block;
    font-size: 20px;
    line-height: 100%;
    color: var(--main-text-color);
}


.points {
    position: absolute;
    left: 50.16%;
    right: 38.85%;
    top: 1.32%;
    bottom: 96.32%;
}

.around {
    position: absolute;
    width: 663px;
    height: 663px;
    left: 670px;
    top: 78px;
}

.background-img {
    position: absolute;
    left: 746px;
    top: 168px;
}

.service-site__end--card {
    position: absolute;
    top: 692px;
    left: 950px;
    padding: 36px 75px 36px 47px;
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 28px 28px 0px 0px;
}

.service-site__end--icons {
    position: absolute;
    bottom: 169px;
    right: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #FFCA45;
    border-radius: 50%;
}

.end-card__info--title {
    margin: 0;
    margin-bottom: 48px;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    color: #222326;
}

.card-img1 {
    border-radius: 50%;
    background-color: #48B774;
}

.card-img2 {
    position: absolute;
    left: 105px;
    top: 108px;
    border-radius: 50%;
    background-color: #FF8345;
}

.card-img3 {
    position: absolute;
    left: 167px;
    top: 108px;
    border-radius: 50%;
    background-color: #FFCA45;
}

.service-card__btn {
    position: absolute;
    top: 108px;
    left: 233px;
    width: 77px;
    height: 74px;
    border: none;
    border-radius: 50%;
    background-color: #EDEDED;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #1F6BFF;

}

/********** Service site styles end ********/

/*********** About section styles start ***********/
.about-section {
    background-color: #fff;
}

.about-section__wrapper {
    margin-bottom: 128px;
    position: relative;
    display: flex;
}

.about-section__subtitle {
    margin: 0;
    padding-bottom: 5px;
    display: inline;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #050931;
    border-bottom: 2px solid #FE6B01;

}

.about-section__info--title {
    margin: 0;
    margin-top: 13px;
    margin-bottom: 24px;
    width: 492px;
    font-family: 'Outfit';
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    color: #050931;
}

.about-section__info--text {
    margin-bottom: 20px;
    width: 505px;
    font-size: 18px;
    line-height: 156%;
    color: var(--main-text-color);
}

.service {
    color: #FE6B01;
}

.about-section__info--text2 {
    margin-bottom: 48px;
    width: 505px;
    font-size: 18px;
    line-height: 156%;
    color: var(--main-text-color);
}

.about-section__img--around {
    position: absolute;
    top: 22px;
    left: 740px;
    width: 73px;
    height: 73px;
    border-radius: 50%;
    background-color: #BADAF4;
}

.about-section__img1 {
    width: 440px;
    position: absolute;
    left: 545px;
    top: 112px;
    z-index: 50;
}

.about-section__img2 {
    position: absolute;
    left: 840px;
    top: 0;
    z-index: 5;
}

.about-section__points {
    position: absolute;
    left: 1072px;
    top: 340px;

}

/*********** About section styles end ***********/

/*********** Clean section styles start  ***********/
.clean-section {
    background-color: var(--main-bg-color);
    background-image: url('../images/clean-bg.png');
    background-repeat: no-repeat;
    background-position: left top;
}

.clean-section__start {
    text-align: center;
    font-weight: 500;
}

.clean-section__wrapper {
    margin-bottom: 120px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.clean-section__title {
    display: inline;
    margin: 0;
    font-size: 20px;
    line-height: 100%;
    color: #050931;
    border-bottom: 2px solid #FE6B01;
}

.clean-section__subtitle {
    margin: 0;
    margin-top: 20px;
    font-family: 'Outfit';
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    color: #050931;
}

.clean-section__text {
    margin: 0 auto;
    margin-bottom: 72px;
    width: 570px;
    font-size: 18px;
    line-height: 156%;
    color: #647685;
}

.clean-section__card--list {
    display: flex;
    justify-content: space-between;
    gap: 18px;
}

.clean-section__card--item {
    padding: 32px 32px 40px 32px;
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 12px;
}

.card-item__icon {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-color: rgba(255, 202, 69, 0.2);
    box-shadow: 0px 17.3392px 36.1233px rgba(0, 0, 0, 0.05);
}

.item-icon__office {
    background-color: rgba(72, 183, 116, 0.2);
}

.item-icon__home {
    background-color: rgba(255, 131, 69, 0.2);
}

.card-item__title {
    margin: 0;
    margin-bottom: 20px;
    font-family: 'Outfit';
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    color: #1B1E1C;
}

.card-item__text {
    width: 350px;
    font-size: 18px;
    line-height: 156%;
    color: #767877;
}

.clean-section__btn {
    margin-top: 50px;
    margin-left: 550px;

}

/********** Work section sytles start  **********/
.work-section {
    background-color: #fff;
}

.work-section__wrapper {
    padding-bottom: 120px;
}

.work-section__subtitle {
    margin: 0;
    display: inline;
    border-bottom: 2px solid #FE6B01;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #050931;
}

.work-section__start {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work-section__title {
    width: 555px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    color: #050931;
}

.work-section__text {
    width: 403px;
    font-size: 18px;
    line-height: 156%;
    color: var(--main-text-color);
}

.work-section__end {
    position: relative;
}

.work-section__box--list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.work-section__box--item {
    padding-left: 23px;

}

.work-section__box--item:nth-child(1) {
    border-left: 1px solid #FF8345;
}

.work-section__box--item:nth-child(2) {
    border-left: 1px solid #1F6BFF;
}

.work-section__box--item:nth-child(3) {
    border-left: 1px solid #FFCA45;
}

.work-section__box--item:nth-child(4) {
    border-left: 1px solid #37D348;
}

.work-section__link {
    display: inline-block;
    align-items: center;
    width: 107px;
    height: 107px;
    background-repeat: no-repeat;
    font-weight: 700;
    font-size: 24px;
    line-height: 105px;

}

.enjoy-cleaning__link {
    color: #FF8345;
    background-image: url('../images/Polygon\ 1.png');
}

.clean__link {
    color: #1F6BFF;
    background-image: url('../images/Polygon\ 2.png');
}

.enjoy-link {
    color: #FFCA45;
    background-image: url('../images/Polygon\ 3.png');
}

.fresh__link {
    color: #37D348;
    background-image: url('../images/Polygon\ 4.png');
}

.work-section__box--title {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #1B1E1C;
}

.work-section__box--text {
    width: 245px;
    font-size: 18px;
    line-height: 156%;
    color: #767877;
}


/********** Work section sytles end  **********/


/*********** Clean section styles end  ***********/
/********** MAIN STYLES END **********/